<div class="cart-main">
  <div>
    <h2>My Cart</h2>
  </div>
  <div *ngIf="articles &&  articles.length > 0">
    <table>
      <tr>
        <th>Article</th>
        <th>Amount</th>
        <th>Price</th>
        <th>Total Price</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let a of articles">
        <td>{{a.name}}</td>
        <td>
          <select (change)="changeAmount(a.articleId, $event.target.value)">
            <option *ngFor="let v of [1,2,3,4,5,6,7,8,9]" [value]="v" [selected]="a.amount == v">
              {{v}}
            </option>
          </select>
        </td>
        <td>{{a.price}} €</td>
        <td>{{a.price * a.amount}} €</td>
        <td><button (click)="removeFromCart(a.articleId)">Remove from Cart</button></td>
      </tr>
    </table>
  </div>
  <div *ngIf="!articles || articles.length == 0">
    <h3>You have no articles in your cart yet</h3>
  </div>

  <div class="checkout-container">
    <span><strong>Total: {{totalPrice()}}</strong></span>
    <button class="checkout-button" (click)="checkout()">Checkout</button>
  </div>
</div>